body{
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
}

.bigbox{
    
    height: 400px;
    background-color: rgb(49, 10, 25);
    transform:translate(0%,40%);
    display: inline-flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    
}
.smallbox{
   width:200px;
    height: 200px;
    margin-top:3%;
    margin-right:3px;
    background: rgb(241, 205, 211);
    border-left:3px solid black;
    position: relative;
left:0;
transition:0.6s all ;  
color:white;
font-family:Courier;
font-weight: bold;
font-size:100px;
text-align: center;

padding-bottom: 0;
}

#leftarrow,#rightarrow {
    color:rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
    
}

#leftarrow{
top:40%;
}

#rightarrow{
    left:39%;
    top:40%;
}
